*{ margin: 0;padding: 0;
    box-sizing: border-box;}


.header{
    width: 80%;
    height: 145px;
    margin: auto;}

.parent{
    width: 100%; 
    height: 170px;
    overflow: auto;}

.L1{width: 250px;
    height: 100%;
    float: left}


.L2{
    width: 480px; 
    height: 100%;
    float: left;}

.kk{ width: 250px;
     height: 100% ;}

.L3{width: 128px;
    height: 100%;
    float: left;}

.L1 img{margin-top: 35px; margin-left: 10px;}

.L2  a{text-decoration: none;
    color: rgb(95, 22, 22);}

.L2 li{ 
    padding: 3px;
    text-align: center; 
    display: inline;
    margin: 45px 15px;}
.oo{ margin-left: 145px;margin-top: 35px;}

ul{ margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.L3  i{ margin-top: 35px;
    font-size: 30px;
    margin-left: 25px;}

.L3 span{font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold}



/* ///////////////////////////////////////////////////////////////////// */



.section1{width: 80%;
    height: 400;
    margin: auto;}


/* ///////////////////////////////////////////////////////////////////////// */
.section2{ width: 100%;
    height: 1000px;}


.categroy {
    width: 200px;
    height: 300px;
    left: 200px;
    background-color:red;}

.h2-category{ text-align:center;
    margin-top: 25px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);}

.hr-category{ width: 90;
    height: 3;
    transition: 0.5s;
    margin: auto  ;
    margin-top: 15px;
    background-color: rgb(82, 24, 24);}

    
.hr-category:hover { 
    width: 140px; 
    height: 3px;}


.category2{ 
    width:80%;
    margin: auto;
    margin-top: 25px;
    height: 400;
    display: grid;
    grid-template-columns:repeat(4,23.5%);
    grid-column-gap: 2%;}

.category2  h2{ display: inline;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;}

.category2  p{color:rgb(82, 24, 24);
    margin-top: 10px;
     font-family:Arial, Helvetica, sans-serif;}



.mm { margin-left:80px ;
    padding: 1;
    font-size: 30;
    width: 21
    ;height: 30;
    color: white;
    visibility: hidden ;
    background-color: brown;}

     .cc:hover  i { visibility: visible;}


     /* ////////////////////////////////////////////////////////////////// */

     .category3{ 
        width: 80%;
        height: 300px; 
        display: grid; 
        margin: auto;
        grid-template-columns: 435px 215px 215px  ;
        grid-column-gap: 15px;}



     .div5{ background-color: rgba(234, 236, 235, 0.945); }

     .tree{font-size: 55px;
         color: rgb(83, 17, 17);
         margin-top: 15px;
         margin-left: 15px;}

        .div5 h2 { display: inline;
            margin-bottom: 15px;
            font-family: Arial, Helvetica, sans-serif;}

        .div5  p{ margin-left: 60px;
        font-family: Arial, Helvetica, sans-serif;line-height: 25px;}


     .div6{
        transition: 0.5s;
        position: relative; }


     .div7{
        transition: 0.5s;
        position: relative;}


     .p-category3{ 
        position: absolute;
        left: 15px;
        top: 15px;
        color:rgb(99, 35, 35);
        font-size: 20px;

        font-family: Arial, Helvetica, sans-serif;}


     .h2-category3{ 
        position: absolute;
        top: 45px;
        font-size: 20px;
        left: 15px;
        font-family: Arial, Helvetica, sans-serif;}

    .div6:hover{ transform: scale(1.1 , 1.1);}

    .div7:hover{ transform: scale(1.1 , 1.1);}


      .big{ 
        width: 100%;
        height: 200;
        display: grid;
        margin-top: 25px;
        margin-left: 90px;
        grid-template-columns: repeat(5, 180px) ;
        grid-gap: 10px;}


    .icons1{ width: 45px;
         height: 55px;
         transition: 1s;
         margin: auto;
         background-image: url(../css/image/service-icon.png);
         background-position: center 0 ;}

        
    .icons2{ 
        width: 45px;
        height: 55px;
        transition: 1s;
        margin: auto;
        background-image: url(../css/image/service-icon.png);
        background-position: center -180 ; }



    .icons3{
        width: 45px;
        height: 55px;
        transition: 1s;
        margin: auto;
        background-image: url(../css/image/service-icon.png);
        background-position: center -360 ;}


    .icons4{ 
        width: 45px;
        height: 55px;
        transition: 1s;
        margin: auto;
        background-image: url(../css/image/service-icon.png);
        background-position: center -540 ;}


    .icons5{ 
        width: 45px;
        height: 55px;
        transition: 1s;
        margin: auto;
        background-image: url(../css/image/service-icon.png);
        background-position: center -730 ;}


    .icons1:hover{ 
        width: 45px;
        height: 55px;
        background-image: url(../css/image/service-icon.png);
        background-position: center -90 ;}

    .icons2:hover{
        width: 45px;
        height: 55px;
        background-image: url(../css/image/service-icon.png);
        background-position: center -270 ;}


    .icons3:hover{ 
        width: 45px;
        height: 55px;
        background-image: url(../css/image/service-icon.png);
        background-position: center -455 ;}


    .icons4:hover{ 
        width: 45px;
        height: 55px;
        background-image: url(../css/image/service-icon.png);
        background-position: center -640 ;}


    .icons5:hover{ 
            width: 45px;
            height: 55px;
            background-image: url(../css/image/service-icon.png);
            background-position: center -818 ;}



    .aaaa{  width: 180px; 
            height: 110px;
            border-right: 1px solid rgb(82, 24, 24);}



    .aaaa h2 { 
            text-align: center; 
            color:black;
            font-size: 18;
            font-family: Arial, Helvetica, sans-serif;}


    .aaaa1{ width: 180px; 
            height: 150px;}


    .aaaa5 h2 { 
            text-align: center;
            color:black;
            font-size: 18;
            font-family: Arial, Helvetica, sans-serif;}



    .p-icons { 
            font-size: 13px;
            margin-top: 10px;
            color: rgb(161, 168, 166);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;}

    .hr-icons{ 
            width: 930px;
            height: 1px;}


    /* /////////////////////////////////////////////////// */
    .parent-Products{ width: 105%;}

    .Products-content{ 
         width: 500px;
         height: 80px;
         margin: auto;} 
.h2-Products{ 
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;}

    
.hr-Products { 
        width: 80;
        height: 3;
        margin: auto;
        margin-top: 10px;
        background-color: brown;}

       
.Products-content span {
        margin: 0 15px;
        font-family: Arial, Helvetica, sans-serif;}


.chair{ width: 100%;
    height: 1200px;
    margin-left: 80px;
    margin-top:25px;
    display: grid;
    grid-template-columns: repeat(3, 33%) ;
    grid-column-gap: 10px;

    grid-template-rows: repeat(2 ,550px);
    grid-row-gap: 10px;}
.chair  div { position: relative;}


.chair  i:not(.aa , .nn1 , .nn2 , .nn3 , .nn4) { color: yellow;}




.nn1{ visibility: hidden;
    position: absolute;
    top: 240px;
    left: 130px;
    font-size: 30px;}

.nn2{ visibility: hidden;
    position: absolute;
    top: 240px;
    left: 160px;
    font-size: 30px;}

.nn3{ visibility: hidden;
    position: absolute;
    top: 240px;left: 190px;
    font-size: 30px;}

.nn4{ visibility: hidden;
    position: absolute;
    top: 240px;
    left: 220px;
    font-size: 30px;}

.aa {color: black;}


.chair  p  { font-family: Arial, Helvetica, sans-serif;}

.chair  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;}



.div1-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair2.jpg);
    opacity: 0;
    transition: 0.5s;}


.div1-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div1-chair:hover .nn1 { visibility: visible;z-index: 1;}
.div1-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div1-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div1-chair:hover .nn4 { visibility: visible;z-index: 1;}



.div2-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair4.jpg);
    opacity: 0;
    transition: 0.5s;}


.div2-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div2-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div2-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div2-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div2-chair:hover .nn4 { visibility: visible;z-index: 1;}

.div3-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair6.jpg);
    opacity: 0;
    transition: 0.5s;}


.div3-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div3-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div3-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div3-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div3-chair:hover .nn4 { visibility: visible;z-index: 1;}
.div3-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair1.jpg);
    opacity: 0;
    transition: 0.5s;}


.div4-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div4-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div4-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div4-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div4-chair:hover .nn4 { visibility: visible;z-index: 1;}
.div4-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair1.jpg);
    opacity: 0;
    transition: 0.5s;}


.div5-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div5-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div5-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div5-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div5-chair:hover .nn4 { visibility: visible;z-index: 1;}
.div5-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair3.jpg);
    opacity: 0;
    transition: 0.5s;}


.div6-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div6-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div6-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div6-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div6-chair:hover .nn4 { visibility: visible;z-index: 1;}
.div6-chair::after { 
    width: 100%;
    height: 80%;
    content: "";
    top: 0;
    position: absolute;
    background-image: url(../css/image/chair5.jpg);
    opacity: 0;
    transition: 0.5s;}


.div6-chair:hover::after {
    width: 100%;
    height: 80%;
    transform: rotatey(180deg);
    opacity: 0.9;}

.div6-chair:hover .nn1 { visibility: visible;z-index: 1;}

.div6-chair:hover .nn2 { visibility: visible;z-index: 1;}
.div6-chair:hover .nn3 { visibility: visible;z-index: 1;}
.div6-chair:hover .nn4 { visibility: visible;z-index: 1;}
                                